
<p>
<strong>Modelo:</strong>
<%= @mesa.modelo %>
</p>

<p>
<strong>Marca:</strong>
<%= @mesa.marca %>
</p>

<p>
<strong>Características:</strong>
<%= @mesa.caract %>
</p>

<p>
<strong>Dimensiones:</strong>
<%= @mesa.dim %>
</p>

<p>
<strong>Patas:</strong>
<%= @mesa.patas %>
</p>

<%= link_to 'Regresar', mesas_path %>